.user-row {
  display: flex;
  justify-content: space-between;
  min-height: 60px;
  align-items: center;
  padding: 0 25px;

  ::ng-deep.mat-form-field-wrapper {
    padding: 0;
  }

  .buttons-container {
    > button {
      margin-left: 10px;
    }
  }
}
